{
  "globals": {
    "jQuery": true,
    "$": true,
    "Vue": true,
    "VeeValidate": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "no-new": 0,
    "func-names": [
      "warn",
      "as-needed"
    ],
    "quote-props": [
      "warn",
      "as-needed",
      {
        "keywords": true,
        "unnecessary": false
      }
    ]
  }
}
